/* Tabal of Content */
/* 1. Section Settings 
   2. Section Caousel
*/


/* Section Caousel */
html, body{
    height: 100%;
}



/* Section Settings */
.bg-alpha{
    background-color: rgba(0, 0, 0, 0.5)
}  

.carousel, 
.carousel-inner,
.carousel-item,
.carousel-inner, .active{
    height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
        top: 40%;
}
.backscreen{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}